$gray: #616366;
$black: #2d3034;
$orange: #ff9f09;
$red: #ff5a52;
$green: #52c22b;
$yellow: #e6c029;
$white: #f0f0f0;
$midgray: #3f4143;

$calc-size: 14vw;
$border-radius: 12px;

img {
    width: 400px;
    height: auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.calculator {
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    background-color: $black;
    height: 400px;
}
.calculator__titleBar {
    display: flex;
    width: 100%;
}

.titleBar__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 27px;
    border-radius: $border-radius;
}

.titleBar__buttons div {
    margin-left: 11px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
}
.titleBar__buttons div:nth-child(2) {
    background-color: $yellow;
}
.titleBar__buttons div:nth-child(3) {
    background-color: $green;
}
.titleBar__buttons div:nth-child(1) {
    background-color: $red;
}

.calculator__inputField {
    width: 100%;
    height: 70px;
    background-color: $black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;
    color: $white;
    font-size: 3.2rem;
    font-weight: 100;
    padding-right: 15px;
    padding-bottom: 5px;
}

.calculator__buttons div {
    background-color: $gray;
    display: grid;
    place-items: center;
    // border-color: 1px solid $black;
    color: $white;
    font-size: 2rem;
    font-weight: 200;
}
.calculator__buttons div:hover {
    cursor: pointer;
}
.calculator__buttons {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2px;
    background-color: $black;
}

.calculator__buttons .div1,
.calculator__buttons .div2,
.calculator__buttons .div3 {
    background-color: $midgray;
}
.calculator__buttons .div4,
.calculator__buttons .div8,
.calculator__buttons .div12,
.calculator__buttons .div16,
.calculator__buttons .div19 {
    background-color: $orange;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
}
.div3 {
    grid-area: 1 / 3 / 2 / 4;
}
.div4 {
    grid-area: 1 / 4 / 2 / 5;
}
.div5 {
    grid-area: 2 / 1 / 3 / 2;
}
.div6 {
    grid-area: 2 / 2 / 3 / 3;
}
.div7 {
    grid-area: 2 / 3 / 3 / 4;
}
.div8 {
    grid-area: 2 / 4 / 3 / 5;
}
.div9 {
    grid-area: 3 / 1 / 4 / 2;
}
.div10 {
    grid-area: 3 / 2 / 4 / 3;
}
.div11 {
    grid-area: 3 / 3 / 4 / 4;
}
.div12 {
    grid-area: 3 / 4 / 4 / 5;
}
.div13 {
    grid-area: 4 / 1 / 5 / 2;
}
.div14 {
    grid-area: 4 / 2 / 5 / 3;
}
.div15 {
    grid-area: 4 / 3 / 5 / 4;
}
.div16 {
    grid-area: 4 / 4 / 5 / 5;
}
.div17 {
    grid-area: 5 / 1 / 6 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.div18 {
    grid-area: 5 / 3 / 6 / 4;
}
.div19 {
    grid-area: 5 / 4 / 6 / 5;
}
